@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}
main {
	flex-grow: 1;
}

body > * {
	border: 1px solid black;
}

header {
	background-color: #3de07e;
	display: flex;
	flex-direction: column;
	align-items: center;
}
header img {
	width: 10em;
}
.header-title {
	margin-top: 1em;
	margin-bottom: 1.5em;
	font-family: "Fira Sans";
}
.nav-icon {
	width: 1.5em;
	margin: 1em;
	align-self: flex-start;
}

main {
	background-color: rgb(14, 14, 14);
	color: rgb(233, 233, 233);
}

.poster {
	font-family: "Fira Sans";
	width: 15em;
	margin-top: 3em;
	height: 30em;
	display: flex;
	flex-direction: column;
	/* border: 2px dotted lime; */
}
.poster img {
	width: 15em;
}
.poster a {
	background-color: rgb(209, 68, 68);
	color: rgb(233, 233, 233);
	padding: 0.5em 1em;
	border-radius: 0.4em;
	text-decoration: none;
}
.poster p {
	flex-grow: 1;
}
/* font-weight */
/* font-style */
/* text-decoration */

.poster-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 1em;
	flex-wrap: wrap;
}